img {
	display: block;
	margin: 0.5em auto;
	max-width: 100%;
}
.container {
	font-family: sans-serif;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 500;
}
a,
a:hover,
a:active {
	color: #000;
}
.tryButton {
	margin: 0 auto;
	display: inline-block;
	background: #339dff;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 38px;
	border-radius: 50px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 170px;
	text-align: center;
}

.tryButton:hover {
	background: #fff;
	color: #339dff;
	box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}
.content {
	margin: 20px 0;
	padding: 20px 25px;
	position: relative;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}
.content p {
	position: relative;
}
.content p::before {
	content: '';
	position: absolute;
	left: -15px;
	width: 2px;
	background-color: #2978ff;
	height: 100%;
}
.content:hover {
	box-shadow: 0 2px 2px #2978ff7d;
}
.content h3 {
	transition: all 0.3s ease-in-out;
}
.content:hover h3,
.content:hover b {
	color: #2979ff;
}
#return-to-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 18px;
	top: 15px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
	color: #fff;
	top: 5px;
}
body {
	scroll-behavior: smooth;
}
